.container {
  // padding: 0 1.25rem;
}

.section-flex {
  display: flex;
  align-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.section-overview {
  width: 100%;
  max-width: 22rem;
  text-align: justify;
}

.section-credits {
  width: 100%;
  max-width: 22rem;
  text-align: justify;
}
