@use './variables';
@import './animations.scss';

:root {
  // fill: blue;
}

.title {
  font-size: 1.5rem;
  margin: 0;
}

.container {
  padding: 1.25rem 0;
  &-main {
    padding: 0;
  }
}

.section-flex {
  display: flex;
  align-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.section-flex-item {
  width: 100%;
  max-width: 22rem;
  text-align: justify;
}

.ech-lang-globe-icon {
  background: url('/boxed-icons-2.1.2/globe.svg');
  height: 24px;
  width: 24px;
  display: block;

  &:hover {
    transform: scale(0.8);
  }

  &-dark {
    filter: invert(71%) sepia(98%) saturate(1284%) hue-rotate(164deg) brightness(100%) contrast(103%);
    // color: #aeaeae;
    opacity: .75;
  }
}

.ech-searcher-icon {
  background: url('/boxed-icons-2.1.2/search-alt-2.svg');
  height: 24px;
  width: 24px;
  display: block;
  // filter: invert(71%) sepia(98%) saturate(1284%) hue-rotate(164deg) brightness(100%) contrast(103%);

  &:hover {
    transform: scale(0.8);
  }

  &-dark {
    // filter: invert(90%) sepia(93%) saturate(636%) hue-rotate(338deg) brightness(112%) contrast(102%);
    filter: invert(71%) sepia(98%) saturate(1284%) hue-rotate(164deg) brightness(100%) contrast(103%);
    //color: #aeaeae ;
    opacity: 0.75;
  }
}
